<div class="chat-list__item" data-id="{{ chat.id }}">
    {{#if chat.avatar}}
        <img class="chat-list__avatar" src="{{ chat.avatar }}" alt="{{ chat.user.display_name }}"/>
    {{else}}
        <div class="chat-list__avatar"></div>
    {{/if}}
    <div class="chat-list__item-content">
        <div class="chat-list__item-title">{{ chat.title }}</div>
        <div class="chat-list__item-message">{{ chat.last_message.content }}</div>
    </div>
    <div class="chat-list__item-flex-block">
        <time class="chat-list__item-message-time">{{ formattedTime }}</time>
    {{#if chat.unread_count}}
        <div class="chat-list__item-message-count">{{ chat.unread_count }}</div>
    {{/if}}
    </div>
</div>
