<main>
    <div class="profile__back-button">
        <a href="../chat/index.html">
            {{{button}}}
        </a>
    </div>
    <div class="profile__content">
        <div class="profile__avatar">
            <div class="profile__avatar_tooltip">Поменять аватар</div>
        </div>
        <h1>Вася</h1>
        <div>
            {{{inputs}}}
        </div>
        {{#if showSaveButton}}
            {{{saveButton}}}
        {{else}}
            <div>
                {{{linkChangeData}}}
                {{{linkChangePass}}}
                {{{linkLogout}}}
            </div>
        {{/if}}
    </div>
</main>
